.BIGASSTITLE{
    font-size: 80px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position: absolute;
    z-index: 1000;
}

.MEDIUMASSTITLE{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    font-size: 25px;
}

.parallax { 
    background-image: url("Background.jpeg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    z-index: 0;
}
